{%- set instances = range(0, service.instances|default(0)) %}

{%- if service.networks | default(False) %}
{%- for network in service.networks %}
{{ ns }}/template/service/network/{{ name }}/{{ network }}:
  docker_network.present:
    - name: {{ network }}
{%- endfor %}
{%- endif %}

{%- for instance in instances %}
{{ ns }}/template/service/run/{{ instance }}:
  docker_container.running:
    - name: {{ name }}-{{ instance }}
    - image: {{ service.image }}:{{ service.tag|default('latest') }}

  {%- if force %}
    - force: True
  {%- endif %}

  {%- if not service.network_mode or service.network_mode.lower() != 'host' %}
    - hostname: {{ name }}-{{ instance }}
  {%- endif %}

  {%- if service.environment|default(False) %}
    - environment: {{ service.environment }}
  {%- endif %}

  {%- if service.entrypoint|default(False) %}
    - entrypoint: {{ service.entrypoint }}
  {%- endif %}

  {%- if service.command|default(False) %}
    - command: {{ service.command }}
  {%- endif %}

  {%- if service.workdir|default(False) %}
    - working_dir: {{ service.workdir }}
  {%- endif %}

  {%- if service.network_mode|default(False) %}
    - network_mode: {{ service.network_mode }}
  {%- endif %}

  {%- if service.networks|default(False) %}
    - networks: {{ service.networks }}
  {%- endif %}

  {%- if service.volumes|default(False) %}
    - binds: {{ service.volumes }}
  {%- endif %}

  {%- if service.privileged|default(False) %}
    - privileged: {{ service.privileged }}
  {%- endif %}

  {%- if service.cap_add|default(False) %}
    - cap_add: {{ service.cap_add }}
  {%- endif %}

  {%- if service.devices|default(False) and service.devices|length > 0 %}
    - devices:
  {%- for device in service.devices %}
      - {{ device }}
  {%- endfor %}
  {%- endif %}

  {%- if service.dns|default(False) and service.dns|length > 0 %}
    - dns:
  {%- for server in service.dns %}
      - {{ server }}
  {%- endfor %}
  {%- endif %}

  {%- if service.labels|default(False) and service.labels|length > 0 %}
    - labels: {{ service.labels }}
  {%- endif %}

  {%- if service.ports|default(False) %}
    - port_bindings: {{ service.ports }}
  {%- endif %}
{%- endfor %}
